.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  }
  .modal_active {
    visibility: visible;
    position:fixed;
    padding: 90px;
    margin-left: 40px;

  }
  .modal_img {
    width: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  
  
  .modal__content {
    max-width: 500px;
    width: 100%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.02) ;
    position: absolute;
    box-shadow: 0 5px 15px black;
    padding: 30px 15px;
  }
  .modal__title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-gray);
    padding-left: 70px;
    padding-bottom: 20px;
  }
  .modal__description {
      font-family: Ubuntu, sans-serif;
      font-size: 17px;
      font-weight: 300;
      color: var(--main-gray); 
      margin-bottom: 20px;
      margin-left: 20px;
  }
   
  .modal__close-button {
    background: #ff0000;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    outline: none;
    margin: 20px;
  }
   
  .modal__close-button:hover {
    transition: .3s;
  }
   
  .hidden {
    overflow: hidden;
  }
  .modal__close-button:hover {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
  }
  